:root {
    --color-principal: #279991;
    --color-primary-hover: #279991;
    --color-verde: #04A75B;
    --color-negro: #444A47;
    --color-fondo: #F7F9FD;
    --color-footer: #151515;
}


.carrito-div {
    padding-top: 100px;
    padding-bottom: 404px;
}


.ts-header {
    margin-top: 0px;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.ts-wrappper {
    height: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
}

/* Contenedor del carrito */
#productos-carrito {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos de los productos en el carrito */
#productos-carrito div {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el total */
#total {
    font-weight: bold;
    font-size: 1.2em;
}

/* Estilos del botón "Ir al Carrito" */
button {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    background-color: var(--color-primary-hover);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--color-verde);
}

/* Estilos del botón "Agregar Producto" */
button[onclick^="agregarProducto"] {
    background-color: #28a745;
}

button[onclick^="agregarProducto"]:hover {
    background-color: #1d9238;
}

/* Estilos del icono del carrito */
#carrito-icono {
    font-size: 2em;
    margin-right: 10px;
}

/*Footer - corregir error en el carrito*/
footer .foo-col h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--color-fondo);
}