body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/randy-fath-otQ6orzFTlk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 69vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Alinea el contenido al final del contenedor (derecha) */
    margin-right: 200px;
    margin-top: 200px
}

/* Estilos para el encabezado */
.ts-header {
    background-color: transparent;
    padding: 10px 0;
}

.container {
    margin: 0 auto;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-container {
    /* Sombra suave */
    border-radius: 8px;
    background-color: var(--color-fondo);
    /* Fondo del contenedor del formulario con opacidad */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: auto;
    /* Centra verticalmente el login-container */
}

h2 {
    text-align: center;
    color: #333;
    font-family: Korolev, Arial Black, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

form>p{
    margin-top: 10px;
}

label {
    margin-bottom: 8px;
    color: #555;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: var(--color-principal);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-verde);
}