:root {
    --color-principal: #279991;
    --color-primary-hover: #279991;
    --color-verde: #04A75B;
    --color-negro: #444A47;
    --color-fondo: #F7F9FD;
    --color-footer: #151515;
}
*,
::after,
::before{
    margin: 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}

.container-negocio-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #279991;
    color: var(--color-fondo) ;
}
.about-section-info-negocio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #279991;
}
.saber{
    color: var(--color-fondo);
}
.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0px auto;
    background-color: #279991;
}
.titulo h1 {
    font-size: 50px;
    color: #fdf3a7;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
}
.listado-negocio{
    max-width: 359px;
    flex: 1;
    margin-right: 50px;
    text-align: justify;
    margin-top: 10px;
}
.lista-negocio-info{
    border-bottom: 1px solid var(--color-fondo);
    margin-top: 30px;
}

.leermas_btn{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    justify-content: space-between;
    line-height: 24px;
    padding: 1.5rem 0;
    width: 100%;
    cursor: pointer;
    background: none;
    border: none;
}

.leermas_btn::after{
    content: "";
    flex-basis: 25px;
    height: 20px;
}


.contenido-oculto{
    display: none;
}

.about-image-negocio-info{
    width: 500px;
    height: 700px;
    margin-left: 50px;
    margin-bottom: 0px;
}
.parrafo-dentro-negocio{
    display: none;
}
.show {
    display: block;
}
.fa-solid {
    color:#fdf3a7;
    
}
.parrafo{
    text-align: justify;
    font-weight: 600;
    color: var(--color-fondo) ;
}

.arrowuno{
    margin-left: 20px;
    margin-top: 2px;
}
.arrowdos{
    margin-right: 80px;
    margin-top: 2px;
}
.parrafo-dentro{
    margin-bottom: 20px;
}
.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.buttons-negocio-info{
    margin-bottom: 100px;
    background-color: transparent;
}
.button1{
    background-color:darksalmon;
    color: var(--color-fondo);
    border-radius: 30px;
    padding: 15px 100px;
    margin-right: 100px;
}
.button1:hover{
    background-color:rgb(255, 184, 160);
}
#parrafoTex3{
    margin-right: 25px;
}