:root {
    --color-principal: #279991;
    --color-primary-hover: #279991;
    --color-verde: #04A75B;
    --color-negro: #444A47;
    --color-fondo: #F7F9FD;
    --color-footer: #151515;
}

.background-form {
    background-color: var(--color-primary-hover);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

select {
    width: 100px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

option {
    color: #000000;
}

#otro-dropdown {
    display: none;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #cccccc;
}

label {
    font-weight: bold;
}

select {
    width: 200px;
    padding: 5px;
}

option {
    color: #000000;
}

#otro-dropdown {
    display: none;
}

input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
}